<div class="banner {{ page.banner_style }}" style="background-image: url({{ page.cover_image | relative_url }})">
    <div class="container banner__content-container">
        <div class="banner__content row">

            {% if page.intro_header %}<h2>{{ page.intro_header }}</h2>{% endif %}
            {% if page.main_header %}<h1>{{ page.main_header }}</h1>{% endif %}
            {% if page.sub_header %}<h3>{{ page.sub_header }}</h3>{% endif %}

            {% if page.primary_action %}
            <div class="banner__actions">
                <a
                    href="{{ page.primary_action.url }}"
                    class="banner__action button button--primary button--green"
                    {% if page.primary_action.scroll %}data-scrollto="{{ page.primary_action.scroll }}"{% endif %}
                >
                    {{ page.primary_action.text }}
                </a>

                {% if page.secondary_action %}
                <span class="or">Or</span>

                <a
                    href="{{ page.secondary_action.url }}"
                    class="banner__action button button--white"
                    {% if page.secondary_action.scroll %}data-scrollto="{{ page.secondary_action.scroll }}"{% endif %}
                >
                    {{ page.secondary_action.text }}
                </a>
                {% endif %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
