<footer>
    <div class="container">
        <div class="row">
            <div class="columns six footer__info">
                &copy; Faithful Friends Kennels {{ now | date: '%Y' }} |
                <a href="/privacy-policy">Privacy Policy</a>
            </div>

            <div class="columns six footer__socials">
                <a href="{{ site.socials.facebook }}" class="footer__social" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="{{ site.socials.google-plus }}" class="footer__social" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
