@import 'utils/all';

body {
  background: $white;
  color: $grey;
  font-family: $font;
  font-size: 14px;
  font-weight: $font-l;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  color: $black;
  font-weight: $font-b;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
}

h4 {
	font-size: 16px;
	font-weight: $font-l;
}

a,
a:active,
a:hover,
a:focus {
  color: $black;
  cursor: pointer;
  font-weight: $font-m;
  text-decoration: none;
}

img {
  width: 100%;
}

@include breakpoint(s) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

@import 'button';
@import 'or';
@import 'break-early';
@import 'section';
@import 'stars';
