<div class="availability">
    <div class="availability__section">
        <div class="availability__day">
            <div class="availability__icon">
                <i class="fa fa-clock-o"></i>
            </div>
        </div>

        <div class="availability__time availability__time--no-border">
            <h2>Opening Times</h2>
        </div>
    </div>

    <div class="availability__section">
        <div class="availability__day">
            MON &nbsp;-&nbsp; SAT
        </div>

        <div class="availability__time">
            <h3>Mornings</h3>
            {{ site.opening_times.mon_sat.morning }}
            <h3>Afternoons</h3>
						{{ site.opening_times.mon_sat.afternoon }}
        </div>
    </div>

    <div class="availability__section">
        <div class="availability__day">
            SUN
        </div>

        <div class="availability__time">
            <h3>Mornings</h3>
            {{ site.opening_times.sunday.morning }}
        </div>
    </div>
</div>
