<div class="prices">
	<div class="prices__price">
		<div class="prices__amount">{{ site.prices.one_dog }}</div>
		<div class="prices__per">
			<span>per day</span>
			<span>per dog</span>
		</div>
	</div>

	<div class="prices__price">
		<div class="prices__amount">{{ site.prices.two_dog }}</div>
		<div class="prices__per">
			<span>per day</span>
			<span>2 dogs sharing</span>
		</div>
	</div>

	<p class="small">
		<strong>{{ site.prices.extra }}</strong>
		extra for Christmas day, Boxing day &amp; New years day.
	</p>
</div>
