.button,
.button:active,
.button:focus,
input[type="submit"] {
  @include hover-animation;
  border: 2px solid $black;
  border-radius: 3px;
  color: $black;
  font-size: 14px;
  font-weight: $font-m;
  height: auto;
  line-height: inherit;
  margin: 0;
  padding: 5px 10px;
	text-transform: uppercase;

  &.button--primary {
    background: $black;
    color: $white;
  }

  &:hover {
    background: $dark-black;
    border: 2px solid $dark-black;
    color: $white;
  }

  &.button--orange {
    border: 2px solid $orange;
    color: $orange;

    &.button--primary {
      background: $orange;
      color: $white;
    }

    &:hover {
      background: $dark-orange;
      border: 2px solid $dark-orange;
      color: $white;
    }
  }

  &.button--green {
    border: 2px solid $green;
    color: $green;

    &.button--primary {
      background: $green;
      color: $white;
    }

    &:hover {
      background: $dark-green;
      border: 2px solid $dark-green;
      color: $white;
    }
  }

  &.button--white {
    border: 2px solid $white;
    color: $white;

    &.button--primary,
    &:hover {
      background: $white;
      color: $green;
    }
  }
}
