footer {
  background: $black;
  color: $white;
  font-weight: $font-l;
  padding: 30px 0;

  a,
  a:active,
  a:focus,
  a:hover {
    color: $white;
    font-weight: $font-m;
  }
}

.footer__header {
  color: $white;
}

.footer__list {
  list-style: none;
}

.footer__social {
  display: inline-block;
  font-size: 18px;
  margin-top: 15px;
  padding-left: 15px;

  &:first-child {
    padding-left: 0;
  }

  i {
    @include hover-animation;
    border: 1px solid $white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 44px;
    padding: 12px 0;
    text-align: center;
    width: 44px;
  }

  &:hover i {
    background: $white;
    color: $black;
  }
}

@include breakpoint(s) {
  .footer__info {
    margin-top: 10px;
  }

  .footer__socials {
    text-align: right;
  }

  .footer__social {
    margin-top: 0;
  }
}
