.section {
  padding: 40px 0;

  &.section--green,
  &.section--black {
    color: $white;

    h2, h3 {
      color: $white;
    }
  }

  &.section--green {
    background: $green;
  }

  &.section--black {
    background: $black;
  }

  &.section--center {
    text-align: center;
  }
}

@include breakpoint(xs) {
  .section {
    padding: 90px 0;
  }
}
