.sidebar {
	h3 {
		font-size: 18px;
		margin-top: 40px;
	}

	> a {
		font-weight: $font-l;
		word-break: break-all;
	}

	.availability {
		margin-top: 40px;
	}

	@include breakpoint(m) {
		h3:first-child {
			margin-top: 0;
		}
	}
}
