$green: #597a37;
$dark-green: #455e2a;
$orange: #f07824;
$dark-orange: #ba5c1a;
$black: #303b38;
$dark-black: #222a26;
$grey: #666;
$medium-grey: #999;
$light-grey: #dedede;
$white: #fcf8f8;

$overlay: #444;
