---
layout: default
---

{% include banner.html %}

<section class="section main-info">
    <div class="container">
        <div class="row">
            <div class="columns eight">
                <h2>{{ page.about.header }}</h2>
                <p>{{ page.about.text }}</p>

                {% if page.about.primary_action.url %}
                    <a class="button button--primary" href="{{ site.baseurl }}{{ page.about.primary_action.url }}">
                        {{ page.about.primary_action.text }}
                    </a>

                    {% if page.about.secondary_action.url %}
                        <span class="or">or</span>
                        <a href="{{ site.baseurl }}{{ page.about.secondary_action.url }}">
                            {{ page.about.secondary_action.text }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="columns four break-early">
                {% include opening-times.html %}
            </div>
        </div>
    </div>
</section>

<section class="section section--black">
    <div class="container">
        <h2>{{ page.testimonials.header }}</h2>
        <div class="row">
            <div class="columns ten">
                <p>{{ page.testimonials.text }}</p>
            </div>
        </div>

        <div class="row testimonial__list owl-carousel">
            {% for testimonial in site.testimonials %}
            <div class="testimonial">
                <p class="testimonial__content">
                    {% include stars.html number_of_stars=testimonial.stars %}
                    {{ testimonial.content | strip_html }}
                </p>
                <h3 class="testimonial__header">{{ testimonial.name }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section section--center">
    <div class="container">
        <div class="row">
            <div class="columns one">&nbsp;</div>
            <div class="columns ten">
                <h2>{{ page.final_section.header }}</h2>
                <p>{{ page.final_section.text }}</p>
                <p>
                    <a href="{{ site.baseurl }}{{ page.final_section.action.url }}" class="button button--primary button--green">
                        {{ page.final_section.action.text }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
