---
layout: default
---

{% include banner.html %}

<section class="section main-info">
    <div class="container">
        <div class="row">
            <div class="columns six">
                <p><img src="{{ page.kennel_image }}" alt="individual kennel" /></p>
            </div>

            <div class="columns six">
                {{ content }}
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>

<section class="section section--black">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h2>{{ page.care_section.header }}</h2>
                <p>{{ page.care_section.intro }}</p>
            </div>
        </div>
        <div class="row">
            <div class="columns six">
                {{ page.care_section.content }}
            </div>
            <div class="columns six">
                <img src="{{ page.care_section.image }}" alt="individual kennel" />
            </div>
        </div>
    </div>
</section>

<section class="section section--center">
    <div class="container">
        <div class="row">
            <div class="columns one">&nbsp;</div>
            <div class="columns ten">
                <h2>{{ page.final_section.header }}</h2>
                <p>{{ page.final_section.text }}</p>
                <p>
                    <a href="{{ site.baseurl }}{{ page.final_section.action.url }}" class="button button--primary button--green">
                        {{ page.final_section.action.text }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
